[submodule "style-manager"]
	path = style-manager
	url = https://github.com/sigcorporativo-ja/style-manager.git
[submodule "history-navigation"]
	path = history-navigation
	url = https://github.com/sigcorporativo-ja/history-navigation.git
[submodule "localizador-catastral"]
	path = localizador-catastral
	url = https://github.com/sigcorporativo-ja/localizador-catastral.git
[submodule "managelayers"]
	path = managelayers
	url = https://github.com/sigcorporativo-ja/managelayers.git
[submodule "addservices"]
	path = addservices
	url = https://github.com/sigcorporativo-ja/addservices.git
[submodule "locallayers"]
	path = locallayers
	url = https://github.com/sigcorporativo-ja/locallayers.git
[submodule "catalogsearch"]
	path = catalogsearch
	url = https://github.com/sigcorporativo-ja/catalogsearch.git
[submodule "catastrosearch"]
	path = catastrosearch
	url = https://github.com/sigcorporativo-ja/catastrosearch.git
[submodule "wmc"]
	path = wmc
	url = https://github.com/sigcorporativo-ja/wmc.git
[submodule "showcoordinates"]
	path = showcoordinates
	url = https://github.com/sigcorporativo-ja/showcoordinates
[submodule "xylocator"]
	path = xylocator
	url = https://github.com/sigcorporativo-ja/xylocator
[submodule "view-history"]
	path = view-history
	url = https://github.com/sigcorporativo-ja/view-history
[submodule "srsselector"]
	path = srsselector
	url = https://github.com/sigcorporativo-ja/srsselector
[submodule "magnify"]
	path = magnify
	url = https://github.com/sigcorporativo-ja/magnify
[submodule "freedraw"]
	path = freedraw
	url = https://github.com/sigcorporativo-ja/freedraw
[submodule "filteredsearch"]
	path = filteredsearch
	url = https://github.com/sigcorporativo-ja/filteredsearch
[submodule "mirrorpanel"]
	path = mirrorpanel
	url = https://github.com/sigcorporativo-ja/mirrorpanel
[submodule "zoomextent"]
	path = zoomextent
	url = https://github.com/sigcorporativo-ja/zoomextent
[submodule "windrose"]
	path = windrose
	url = https://github.com/sigcorporativo-ja/windrose
[submodule "topographicprofile"]
	path = topographicprofile
	url = https://github.com/sigcorporativo-ja/topographicprofile
[submodule "timeline"]
	path = timeline
	url = https://github.com/sigcorporativo-ja/timeline
[submodule "spatialcalculator"]
	path = spatialcalculator
	url = https://github.com/sigcorporativo-ja/spatialcalculator
[submodule "referencelocatorcatastro"]
	path = referencelocatorcatastro
	url = https://github.com/sigcorporativo-ja/referencelocatorcatastro
[submodule "transparency"]
	path = transparency
	url = https://github.com/sigcorporativo-ja/transparency
[submodule "edition"]
	path = edition
	url = https://github.com/sigcorporativo-ja/edition
[submodule "fullviewmap"]
	path = fullviewmap
	url = https://github.com/sigcorporativo-ja/fullviewmap
[submodule "lyrcompare"]
	path = lyrcompare
	url = https://github.com/sigcorporativo-ja/lyrcompare
