[submodule "style-manager"]
	path = style-manager
	url = https://github.com/sigcorporativo-ja/style-manager.git
[submodule "history-navigation"]
	path = history-navigation
	url = https://github.com/sigcorporativo-ja/history-navigation.git
[submodule "localizador-catastral"]
	path = localizador-catastral
	url = https://github.com/sigcorporativo-ja/localizador-catastral.git
[submodule "managelayers"]
	path = managelayers
	url = https://github.com/sigcorporativo-ja/managelayers.git
[submodule "addservices"]
	path = addservices
	url = https://github.com/sigcorporativo-ja/addservices.git
[submodule "locallayers"]
	path = locallayers
	url = https://github.com/sigcorporativo-ja/locallayers.git
[submodule "catalogsearch"]
	path = catalogsearch
	url = https://github.com/sigcorporativo-ja/catalogsearch.git
[submodule "catastrosearch"]
	path = catastrosearch
	url = https://github.com/sigcorporativo-ja/catastrosearch.git
[submodule "wmc"]
	path = wmc
	url = https://github.com/sigcorporativo-ja/wmc.git
